@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth; 
}

.fullscreen {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

body {
  margin: 0;
  font-family: 'Arial', sans-serif;
}

.canvas-interactive-wrapper {
  position: relative;
  height: 300px;
  text-align: center;
}

.canvas-interactive-wrapper canvas {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.canvas-interactive-wrapper .cta-wrapper {
  margin-top: 130px;
}

.canvas-interactive-wrapper .cta-wrapper a {
  position: relative;
  display: inline-block;
  padding: 3px 7px;
  border: solid 1px transparent;
  margin-right: 50px;
  z-index: 1;
  text-decoration: none;
  color: #222;
  transition: border .3s;
}

.canvas-interactive-wrapper .cta-wrapper a.active {
  border-color: #222;
}
