@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes gradientShift {
  0%, 100% {
    background: linear-gradient(90deg, #28292e, #2e2f38);
    background-position: 0% 0%;
  }
  14.29% {
    background: linear-gradient(90deg, #2e2f38, #252734);
    background-position: 100% 0%;
  }
  28.57% {
    background: linear-gradient(90deg, #252734, #222536);
    background-position: 100% 0%;
  }
  42.86% {
    background: linear-gradient(90deg, #222536, #1c1f35);
    background-position: 100% 0%;
  }
  57.14% {
    background: linear-gradient(90deg, #1c1f35, #161932);
    background-position: 100% 0%;
  }
  71.43% {
    background: linear-gradient(90deg, #161932, #111531);
    background-position: 100% 0%;
  }
  85.71% {
    background: linear-gradient(90deg, #111531, #0d1131);
    background-position: 100% 0%;
  }
  100% {
    background: linear-gradient(90deg, #0d1131, #09144a);
    background-position: 100% 0%;
  }
  }
  
  header, body, footer {
    animation: gradientShift 25s linear infinite;
  }